body {
  min-width: 400px;
}

.image-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column; /* Stacks images vertically */
  align-items: center; /* Optional: centers them horizontally */
  gap: 20px;
}

.image-row img {
  max-width: 100%; /* Ensures images stay within the section */
  height: auto;
}

.section-div {
  margin-top: 20px;
}

.parent-container {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Adds 30px space between the section and form */
}
